/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "partials/normalize";
@import "partials/variable";
@import "partials/base";
@import "partials/helper";
@import "partials/grids";
@import "partials/layout";
@import "partials/mixins";
@import "partials/fonts";
@import "extensions/global";
@import "extensions/header";
@import "extensions/footer";
