<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="keywords" content="Junaid, Junaid Masoodi, Front-End, Developer, Kashmir">
    <link rel="icon" type="image/ico" href="/favicon.ico"/>
    <meta property="og:title" content="Junaid Masoodi" />
    <meta property="og:type" content="Front-End Developer" />
    <meta property="og:image" content="http://junaidmasoodi.com/junaidmasoodi.jpg" />
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <meta property="article:author" content="https://www.facebook.com/junaidmasoodi" />
    <meta property="article:publisher" content="https://www.facebook.com/junaidmasoodi" />
    <meta property="fb:admins" content="100000244131173" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
    

    <!-- Custom CSS -->

    <link rel="stylesheet" media="screen, projection"  type="text/css" href="{{ "/stylesheets/screen.css" | prepend: site.baseurl }}"/>
    <link rel="stylesheet"  media="print"  type="text/css" href="{{ "/stylesheets/print.css" | prepend: site.baseurl }}" />
    <!--[if IE]>
        <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    
    <!-- jQuery Plugin -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>

    <!-- Google reCaptcha -->
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script src="/js/prefixfree.min.js"></script>
    

</head>
