/*Preloader*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99;
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/preloader.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}

.pace .pace-progress {
    background: #f63f05;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 3px;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}

.pace-inactive {
    display: none;
}

/*STYLES*/

.junaid-background:hover {
    webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition-duration: .15s;
    -moz-transition-duration: .15s;
    -ms-transition-property: .15s;
    -o-transition-duration: .15s;
    transition-duration: .15s;
}

html, body {
    height: 100%;
    font-family: $primary;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}

a {
    color: $branding;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
    -webkit-transition: all 0.7s ease-in-out 0s;
    -moz-transition: all 0.7s ease-in-out 0s;
    -o-transition: all 0.7s ease-in-out 0s;
    transition: all 0.7s ease-in-out 0s;
}

p {
    img {
        display: block;
        margin: auto;
    }
    a {
        font-size: 18px !important;
        font-weight: 300 !important;
    }
}

img {
    max-width: 100%;
}

/* Left-Side Main Menu */
.site-header {
    width: 250px;
    height: 100%;
    background: $branding;
    color: $white;
    float: left;
    margin-right: 4em;
    position: fixed;
    z-index: 1;
    .wrap {
        margin-left: 1em;
    }
    .page-link {
        overflow: hidden;
    }
    .page-link span {
        position: relative;
        display: inline-block;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
        &::before {
            position: absolute;
            top: 100%;
            content: attr(data-hover);
            font-weight: 700;
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        &:hover, &:focus {
            -webkit-transform: translateY(-100%);
            -moz-transform: translateY(-100%);
            transform: translateY(-100%);
        }
    }
}

.page-content {
    margin-left: 250px;
    height: 100%;
    .wrap {
        height: 100%;
    }
}

#my-social {
    margin-left: 1em;
    position: absolute;
    bottom: 1em;
    a {
        display: inline-block;
        width: 100%;
        color: $white;
        @extend .f-12;
        margin-bottom: 1em;
    }
    .fa {
        display: table-cell;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        text-align: center;
        border-radius: 50%;
        background: $white;
        color: $branding;
        @extend .f-16;
        &:hover {
            color: #07E0E4;
        }
    }
    p {
        display: table-cell;
        vertical-align: middle;
        padding-left: 1em;
        color: #cecece;
    }
}

#background {
    text-align: center;
    img {
        border-radius: 50%;
        width: 150px;
        border: 5px solid #cecece;
        padding: 5px;
        -webkit-border-radius: 50%;
    }
    .teaser {
        text-align: center;
        margin-bottom: 2.5em;
        p {
            display: inline-block;
            max-width: 600px;
            @extend .f-18;
            line-height: 1.5;
            color: #777;
            font-weight: 100;
        }
    }
}

/* Utility */

.wrap:before,
.wrap:after {
    content: "";
    display: table;
}

.wrap:after {
    clear: both;
}

.wrap {
    zoom: 1;
}

/* Site footer */

.blog-nav {
    text-align: right;
    padding: 0.3em;
    max-width: 980px;
    margin: auto;
    @media screen and (max-width: 550px) {
        text-align: center;
    }
    a {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        padding-left: 1em;
        -webkit-font-smoothing: antialiased;
    }
}

.site-footer {
    border-top: 1px solid #e8e8e8;
    padding: 30px 0 0 0;
    text-align: center;
}

.footer-heading {
    @extend .f-14;
    font-weight: 100;
    margin-bottom: 15px;
    color: #8A8A8A;
    text-transform: lowercase;
}

.footer-info {
    img {
        width: 75px;
        height: auto;
        vertical-align: middle;
        display: inline-block;
    }
    p {
        @extend .f-18;
        color: #8B8B8B;
    }
}

.fa-heart {
    color: #FF0000;
}

.fa-github {
    color: #0084DB;
}

/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
    padding: 30px 0 0 0;
    background-color: #fff;
}

/* Home styles */
/* ----------------------------------------------------------*/
.home, .post {
    padding: 0 6em;
}

.home h1 {
    margin-bottom: 25px;
}

.posts {
    list-style-type: none;
}

.post {
    min-height: 75%;
}

.post, .posts {
    a {
        color: $branding;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        overflow: hidden;
        &:hover {
            text-decoration: none;
        }
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            right: 100%;
            bottom: 0;
            background: $branding;
            height: 2px;
            -webkit-transition-property: right;
            transition-property: right;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }
        &:hover:before, &:focus:before, &:active:before {
            right: 0;
        }
    }
}

ul.posts {
    p {
        color: #555;
        font-size: 18px;
        line-height: 1.5;
    }
}

.posts li {
    margin-bottom: 30px;
}

.posts .post-link {
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 1.5;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

.posts .post-date {
    display: block;
    font-size: 15px;
    color: #818181;
}

/* Mobile social icons */
#mobile-social {
    display: none;
    text-align: center;
    margin: 0 0.3em;
    .fa {
        @extend .f-16;
        padding: 9px;
        background: #fff;
        color: #000;
        border-radius: 50%;
        width: 35px;
        height: auto;
        margin: 0.5em;
    }
}


/* Post styles */
/* ----------------------------------------------------------*/
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.fade-in {
    opacity: 0;
    /* make things invisible upon start */
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fade-in {
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

#large-header {
    .main-title {
        position: absolute;
        margin: 0;
        padding: 0;
        color: #f9f1e9;
        text-align: center;
        top: 50%;
        left: 50%;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
    }
    .demo-1 .main-title {
        text-transform: uppercase;
        font-size: 4.2em;
        letter-spacing: 0.1em;
    }
    .main-title .thin {
        font-weight: 200;
    }
    @media only screen and (max-width: 768px) {
        .demo-1 .main-title {
            font-size: 3em;
        }
    }
    .post-header {
        bottom: 0;
    }
}

.post-page-content {
    max-width: 980px;
    margin: auto;
    margin-top: 1.5em;
}

.addthis_sharing_toolbox {
    text-align: left;
    margin-bottom: 3em;
}

.post-header {
    max-width: 980px;
    margin: auto;
    @media screen and (max-width: 1000px) {
        padding: 0 1em;
    }
}

.post-header h1 {
    font-size: 42px;
    margin-top: 3em;
    margin-bottom: 5px;
    letter-spacing: -1.75px;
    line-height: 1.3;
    font-weight: 700;
    text-align: left;
    color: $branding;
}

.post-header .meta {
    font-size: 15px;
    margin-top: 5px;
    color: $branding;
}

.blog {
    margin: 0 0 30px;
    a {
        @extend .f-24;
        font-weight: 600;
    }
    li {
        border-bottom: 1px dashed #E4E4E4;
    }
}

.post-content > * {
    font-family: $writing;
    margin: 20px 0;
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
    color: #4a4a4a;
    line-height: 1.5;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    line-height: 1;
    font-weight: 300;
    margin: 40px 0 20px;
}

.post-content h2 {
    font-size: 32px;
    letter-spacing: -1.25px;
}

.post-content h3 {
    font-size: 26px;
    letter-spacing: -1px;
}

.post-content h4 {
    font-size: 20px;
    letter-spacing: -1px;
}

.post-content blockquote {
    border-left: 4px solid $branding;
    padding-left: 20px;
    font-size: 20px;
    color: $branding;
    letter-spacing: -1px;
    margin: 30px 0;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-family: $primary;
    a {
        padding: 0 0.5em;
        font-family: monospace;
    }
}

.post-content .blog ul,
.post-content .blog ol {
    list-style: none;
}

.post pre,
.post code {
    color: #000;
    background-color: #E2E2E2;
    padding: 8px 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 15px;
    margin: 0;
}

.post code {
    padding: 1px 8px;
}

.post pre code {
    border: none;
}

/* terminal */
.post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.post pre.terminal code {
    background-color: #333;
}

.post--sub--heading {
    font-weight: 900 !important;
}

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

.highlight {
    background: #ffffff;
}

.highlight .c {
    color: #999988;
    font-style: italic;
}

/* Comment */
.highlight .err {
    color: #a61717;
    background-color: #e3d2d2;
}

/* Error */
.highlight .k {
    font-weight: bold;
}

/* Keyword */
.highlight .o {
    font-weight: bold;
}

/* Operator */
.highlight .cm {
    color: #999988;
    font-style: italic;
}

/* Comment.Multiline */
.highlight .cp {
    color: #999999;
    font-weight: bold;
}

/* Comment.Preproc */
.highlight .c1 {
    color: #999988;
    font-style: italic;
}

/* Comment.Single */
.highlight .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic;
}

/* Comment.Special */
.highlight .gd {
    color: #000000;
    background-color: #ffdddd;
}

/* Generic.Deleted */
.highlight .gd .x {
    color: #000000;
    background-color: #ffaaaa;
}

/* Generic.Deleted.Specific */
.highlight .ge {
    font-style: italic;
}

/* Generic.Emph */
.highlight .gr {
    color: #aa0000;
}

/* Generic.Error */
.highlight .gh {
    color: #999999;
}

/* Generic.Heading */
.highlight .gi {
    color: #000000;
    background-color: #ddffdd;
}

/* Generic.Inserted */
.highlight .gi .x {
    color: #000000;
    background-color: #aaffaa;
}

/* Generic.Inserted.Specific */
.highlight .go {
    color: #888888;
}

/* Generic.Output */
.highlight .gp {
    color: #555555;
}

/* Generic.Prompt */
.highlight .gs {
    font-weight: bold;
}

/* Generic.Strong */
.highlight .gu {
    color: #aaaaaa;
}

/* Generic.Subheading */
.highlight .gt {
    color: #aa0000;
}

/* Generic.Traceback */
.highlight .kc {
    font-weight: bold;
}

/* Keyword.Constant */
.highlight .kd {
    font-weight: bold;
}

/* Keyword.Declaration */
.highlight .kp {
    font-weight: bold;
}

/* Keyword.Pseudo */
.highlight .kr {
    font-weight: bold;
}

/* Keyword.Reserved */
.highlight .kt {
    color: #445588;
    font-weight: bold;
}

/* Keyword.Type */
.highlight .m {
    color: #009999;
}

/* Literal.Number */
.highlight .s {
    color: #d14;
}

/* Literal.String */
.highlight .na {
    color: #008080;
}

/* Name.Attribute */
.highlight .nb {
    color: #0086B3;
}

/* Name.Builtin */
.highlight .nc {
    color: #445588;
    font-weight: bold;
}

/* Name.Class */
.highlight .no {
    color: #008080;
}

/* Name.Constant */
.highlight .ni {
    color: #800080;
}

/* Name.Entity */
.highlight .ne {
    color: #990000;
    font-weight: bold;
}

/* Name.Exception */
.highlight .nf {
    color: #990000;
    font-weight: bold;
}

/* Name.Function */
.highlight .nn {
    color: #555555;
}

/* Name.Namespace */
.highlight .nt {
    color: #000080;
}

/* Name.Tag */
.highlight .nv {
    color: #008080;
}

/* Name.Variable */
.highlight .ow {
    font-weight: bold;
}

/* Operator.Word */
.highlight .w {
    color: #bbbbbb;
}

/* Text.Whitespace */
.highlight .mf {
    color: #009999;
}

/* Literal.Number.Float */
.highlight .mh {
    color: #009999;
}

/* Literal.Number.Hex */
.highlight .mi {
    color: #009999;
}

/* Literal.Number.Integer */
.highlight .mo {
    color: #009999;
}

/* Literal.Number.Oct */
.highlight .sb {
    color: #d14;
}

/* Literal.String.Backtick */
.highlight .sc {
    color: #d14;
}

/* Literal.String.Char */
.highlight .sd {
    color: #d14;
}

/* Literal.String.Doc */
.highlight .s2 {
    color: #d14;
}

/* Literal.String.Double */
.highlight .se {
    color: #d14;
}

/* Literal.String.Escape */
.highlight .sh {
    color: #d14;
}

/* Literal.String.Heredoc */
.highlight .si {
    color: #d14;
}

/* Literal.String.Interpol */
.highlight .sx {
    color: #d14;
}

/* Literal.String.Other */
.highlight .sr {
    color: #009926;
}

/* Literal.String.Regex */
.highlight .s1 {
    color: #d14;
}

/* Literal.String.Single */
.highlight .ss {
    color: #FF0099;
}

/* Literal.String.Symbol */
.highlight .bp {
    color: #999999;
}

/* Name.Builtin.Pseudo */
.highlight .vc {
    color: #008080;
}

/* Name.Variable.Class */
.highlight .vg {
    color: #008080;
}

/* Name.Variable.Global */
.highlight .vi {
    color: #008080;
}

/* Name.Variable.Instance */
.highlight .il {
    color: #009999;
}

/* Literal.Number.Integer.Long */

// Contact
.contact {
    max-width: 700px;
    padding-left: 10px;
    margin-top: 1em;
    input, textarea {
        display: block;
        padding: 1em 1em;
        @extend .f-14;
        font-weight: 300;
        margin-bottom: 1em;
        width: 100%;
        border: 1px solid $branding;
        border-bottom: 5px solid $branding;
        text-transform: lowercase;
        color: $branding;
    }
    textarea {
        min-height: 10em;
    }
    input[type="submit"] {
        background: $branding;
        border: none;
        font-size: 19px;
        color: #fff;
        border-bottom: 5px solid ;
        &:hover {
            border-bottom: 5px solid #005C99;
        }
    }
}

// Notes
.notes {
    font-weight: 300;
    font-size: 12px;
    color: #EB1818;
    span {
        font-weight: 600;
    }
}

// RSS

.rss-subscribe {
    text-align: center;
    a {
        display: block;
    }
    .fa-rss {
        font-size: 2em;
    }
}

// TALKS

.talks {
    border-left: 3px solid #00BFFC;
    padding-left: 1em;
    margin-bottom: 2.5em;
    h6 {
        @extend .f-16;
        font-weight: 600;
        color: #AAA;
        margin-top: 0;
    }
    h4 {
        margin-top: 1em;
        letter-spacing: 0;
    }
}

.timed {
    @extend .f-14;
    color: #AAA;
    margin-bottom: 0;
    display: inline-block;
}

coming {
    color: #fff;
    font-size: 11px;
    background: red;
    padding: 2px 10px;
    border-radius: 10px;
    line-height: 1;
    margin-left: 1em;
    vertical-align: middle;
}

.hire {
    text-align: center;
    margin-top: 3em;
    p {
        text-decoration: line-through;
    }
    p, a {
        background: rgb(40, 143, 192);
        display: inline-block;
        border-radius: 5px;
        border-bottom: 4px solid rgb(12, 27, 102);
        padding: 1em 2em;
        color: #fff;
        font-weight: 300;
        &:hover {
            cursor: pointer;
            background: rgb(49, 175, 235);
        }
    }
}

/* BLOGS FIX */
.logo {
    svg {
        max-width: 440px;
    }
}

/* BLOGS FIX */
.post-page-content {
    .post {
        padding: 0;
    }
    ul {
        padding-left: 2em;
    }
}


/* Site SELECTION */
::selection {
    background: $branding;
    color: $white;
}
