/*
 FONT FAMILY
 */
$primary:  "lato", sans-serif;

/*
 FONT COLORS
 */

$menu: #231f20;
$white: #ffffff;
$black: #000000;
$grey: #757575;
/*
 FONT SIZES
 */
$base-font-size: 16;
$base-line-height: 24;
$base-spacing-unit: $base-line-height;
$half-base-spacing-unit: $base-line-height/2;

.f33 {
	@include font-size(33);
}
.f24 {
	@include font-size(24);
}
.f22 {
	@include font-size(22);
}
.f20 {
	@include font-size(20);
}
.f19 {
	@include font-size(19);
}
.f18 {
	@include font-size(18);
}
.f17 {
	@include font-size(17);
}
.f14 {
	@include font-size(14);
}
.f15 {
	@include font-size(15);
}
.f13 {
	@include font-size(13);
}
.f12 {
	@include font-size(12);
}
.f11 {
	@include font-size(11);
}
.f10 {
	@include font-size(10);
}
.f9 {
	@include font-size(9);
}
.f8 {
	@include font-size(8);
}