<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="new--branding">
    <div class='clouds'>
        <div class='clouds-1'></div>
        <div class='clouds-2'></div>
        <div class='clouds-3'></div>
    </div>
    <video id="bgVideo" autoplay loop poster="image.png">
        <!-- Video is embedded in the WEBM format -->
        <source src="/images/shikara.MOV" type="video/webm">
      </video>
    <div class="branding">
        <div class="hero">
            <span>I</span>
            <h2>Write</h2>
            <h2>Design</h2>
            <h2>Code</h2>
            <h2>Talk</h2>
        </div>
    </div>
</body>

</html>