<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css"/>
        <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css"/>
        <!--[if IE] -->
        <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css"/>

    </head>
    <body>

        <div class="container">
        <div class="blog-bar">
          <div class="site">
            <div class="header">
              <h1 class="title-site"><a href="/">{{ site.name }}</a></h1>
              <div class="title"><a href="http://junaidmasoodi.com"><img src="../images/junaidmasoodi_logo.png"></img</a></div>
              <a class="extra" href="/">home</a>
            </div>

                {{ content }}

            <div class="everywhere">
              <div class="contact">
                <p>
                  Junaid Masoodi<br/>
                  Front End Developer<br/>
                  junaidmasoodi@outlook.com
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/junaidmasoodi/">Github</a><br/>
                  <a href="http://twitter.com/junaidmasudi/">twitter</a><br/>
                  <a href="http://instagram.com/junaidmasudi/">Instagram</a><br/>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="info-bar">
          <img src="images/junaidmasoodi.png"></img>
          <p> My name is Junaid Masoodi, I am currently FrontEnd Developer. I have worked on one of Top 100 websites in world. Worked with Microsoft, Microsoft certified developer. HTML5, Webapps, API developer. Ruby on rails developer, pseudo javascript developer. Trying hands on node and meteor. </p>
        </div>
        </div> <!-- /container -->
        <div class="footer"> <p>&copy; Junaid Masoodi | 2012- 2013 </p> </div>

    </body>
</html>
